---
import { cv } from '../../cv';
import Section from "@/components/Section.astro"
import AnimatedTitle from './AnimatedTitle';
const { name, summary } = cv.basics;
---

<Section>
  <div class="container">
    <AnimatedTitle name={name} client:load />
    <p class="text-center max-w-2xl mx-auto">{summary}</p>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
  }

  @media (width <= 700px) {
    p {
      font-size: 0.9rem;
    }
  }
</style>